CompileFlags:
  Add:
    - -std=c++17
    - --cuda-path=/opt/cuda
    - -I/opt/cuda/include
    - --cuda-gpu-arch=sm_75 
  Remove:
    - -rdc=true
    - --forward-unknown-to-host-compiler
    - -fno-gpu-rdc

SemanticTokens:
  DisabledKinds: [InactiveCode]
