AlignAfterOpenBracket: "Align"
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
BinPackArguments: false
BinPackParameters: false

ColumnLimit: 150

ConstructorInitializerAllOnOneLineOrOnePerLine: true

ConstructorInitializerIndentWidth: 4

AccessModifierOffset: -1

ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
    {
        AfterClass: "false",
        AfterControlStatement: "MultiLine",
        AfterEnum: "false",
        AfterFunction: "false",
        AfterNamespace: "false",
        AfterStruct: "false",
        AfterUnion: "false",
        BeforeCatch: "false",
        BeforeElse: "false",
        IndentBraces: "false",
        AfterObjCDeclaration: "true",
    }
AlwaysBreakTemplateDeclarations: true

IndentCaseLabels: true

IndentPPDirectives: AfterHash
NamespaceIndentation: All
BreakBeforeTernaryOperators: false
SpaceAfterTemplateKeyword: false
FixNamespaceComments: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
ReflowComments: true
UseTab: Never
TabWidth: 2
IndentWidth: 2
PenaltyReturnTypeOnItsOwnLine: 10000
PenaltyBreakAssignment: 100
SortIncludes: true
AlignEscapedNewlines: DontAlign
AlwaysBreakBeforeMultilineStrings: true
PenaltyBreakString: 1000000
