[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/openexr"]
	path = vendor/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/imath"]
	path = vendor/imath
	url = https://github.com/AcademySoftwareFoundation/Imath
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/libdeflate"]
	path = vendor/libdeflate
	url = https://github.com/ebiggers/libdeflate
  ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
	ignore = all
  fetchRecurseSubmodules = true

[submodule "vendor/qt"]
	path = vendor/qt
	url = https://code.qt.io/qt/qt5.git
	ignore = all
	fetchRecurseSubmodules = false

[submodule "vendor/embree"]
	path = vendor/embree
  url = https://github.com/RenderKit/embree
  ignore = all
  fetchRecurseSubmodules = true 
