sketches/algo.excalidraw.svg
sketches/box.excalidraw.svg
sketches/cubemap.excalidraw.svg
sketches/Node.excalidraw.svg
sketches/normal.excalidraw.svg
sketches/parallel_irradiance.excalidraw.svg
sketches/pbr_concepts.html
sketches/pbr_concepts.pdf
sketches/pbr.excalidraw.svg
sketches/somestuff.excalidraw.svg
sketches/spherical_uv.excalidraw.svg
sketches/spotlight-diffuse.excalidraw.svg
sketches/test.excalidraw.svg
Ressources/Skybox_Textures/HDR/Forest/Forest.hdr
Ressources/Skybox_Textures/HDR/Forest/HDRI Hub - Facebook.URL
Ressources/Skybox_Textures/HDR/Forest/HDRI Hub - Free Samples.URL
Ressources/Skybox_Textures/HDR/Forest/HDRI Hub - The Shop.URL
Ressources/Skybox_Textures/HDR/Forest/Readme.txt
Ressources/Skybox_Textures/HDR/Forest/What-is-sIBL.txt
Ressources/Skybox_Textures/HDR/Forest/HDR_041_Path/HDR_041_Path_Bg.jpg
Ressources/Skybox_Textures/HDR/Forest/HDR_041_Path/HDR_041_Path_Env.hdr
Ressources/Skybox_Textures/HDR/Forest/HDR_041_Path/HDR_041_Path_Prev.jpg
Ressources/Skybox_Textures/HDR/Forest/HDR_041_Path/HDR_041_Path_Ref.hdr
Ressources/Skybox_Textures/HDR/Forest/HDR_041_Path/HDR_041_Path_Thumb.jpg
Ressources/Skybox_Textures/HDR/Forest/HDR_041_Path/HDR_041_Path.ibl
Ressources/Skybox_Textures/HDR/Massimo/teatro_massimo_4k.hdr
Ressources/Skybox_Textures/HDR/Night_City/HDR_Free_City_Night_Lights_Bg.jpg
Ressources/Skybox_Textures/HDR/Night_City/HDR_Free_City_Night_Lights_Prev.jpg
Ressources/Skybox_Textures/HDR/Night_City/HDR_Free_City_Night_Lights_Thumb.jpg
Ressources/Skybox_Textures/HDR/Night_City/HDR_Free_City_Night_Lights.ibl
Ressources/Skybox_Textures/HDR/Night_City/HDRI Hub - Facebook.URL
Ressources/Skybox_Textures/HDR/Night_City/HDRI Hub - Free Samples.URL
Ressources/Skybox_Textures/HDR/Night_City/HDRI Hub - The Shop.URL
Ressources/Skybox_Textures/HDR/Night_City/Night_env.hdr
Ressources/Skybox_Textures/HDR/Night_City/Night.hdr
Ressources/Skybox_Textures/HDR/Night_City/readme.txt
Ressources/Skybox_Textures/HDR/Night_City/What-is-sIBL.txt
Ressources/Skybox_Textures/HDR/Night_City/Backplates/plate1.jpg
Ressources/Skybox_Textures/HDR/Night_City/Backplates/plate2.jpg
Ressources/Skybox_Textures/HDR/Night_City/Backplates/plate3.jpg
Ressources/Skybox_Textures/HDR/Night_City/Backplates/plate4.jpg
Ressources/Skybox_Textures/HDR/Park/Park.hdr
Ressources/Skybox_Textures/HDR/Sky/Sky.hdr
Ressources/Skybox_Textures/HDR/Snow/Snow.hdr
Ressources/Skybox_Textures/HDR/Street/Street.hdr
moc/*
.cache/*
.idea/*
.vscode/*
.venv/*
.sessions/*
compile_commands.json
