[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb

[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest

[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm

[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost

[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp

[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest

[submodule "vendor/openexr"]
	path = vendor/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr

[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
